<!DOCTYPE html>
<html>

<% include ./partials/head.html %>

<body>
      <div class="container">
            <div class="row">
                  <h1>List of supermarkets ordered by distance</h1>
            </div>
            <table class="table table-hover">
                  <thead>
                        <th>Name</th>
                        <th>Distance</th>
                  </thead>
                  <tbody>
                  <% for(var i=0; i < supermarkets.length; i++) { %>
                  <tr>
                        <td>
                              <%= supermarkets[i].name %>
                        </td>
                        <td>
                              <%= supermarkets[i].distance %> km
                        </td>
                  </tr>
                  <% } %>
            </tbody>
      </table>
      </div>
</body>
<% include ./partials/footer.html %>
</html>